<sw-post title="Release 4.1.0"
date="2024/09/13"
topics="chamo"
keywords="release"
published="true"
>
<p>
Release 4.1.0 is available from the <doc href="download"/> page.
</p>
<p>Changes:</p>
<ul id="changes">
<li>various fixes,</li>
<li>upgrade to use <ext-a href="https://zoggy.frama.io/ocaml-stk/">OCaml-Stk</ext-a> 0.2.0,</li>
<li>upgrade to and depend on ocaml &gt;= 5.2.0.</li>
</ul>
</sw-post>