<sw-post title="Release 2.03"
date="2014/10/21"
topics="chamo"
keywords="release"
published="true"
>
<p>
Release 2.03 is available from the <doc href="download"/> page.
</p>
<p>Changes:</p>
<ul id="changes">
<li>move to safe strings (OCaml &gt;= 4.02.0 required),</li>
<li>replace calls to deprecated functions,</li>
<li>fix warning when searching text,</li>
<li>fix <ext-a href="https://framagit.org/zoggy/chamo/issues/6">#6</ext-a>
(chamo.byte could not use chamo modules),</li>
<li>fix png files (thanks to Jérôme Maloberti),</li>
<li>fix completion in <icode>open_file</icode> command.</li>
</ul>
</sw-post>