<sw-post title="Release 4.2.0"
date="2024/12/12"
topics="chamo"
keywords="release"
published="true"
>
<p>
Release 4.2.0 is available from the <doc href="download"/> page.
</p>
<p>Changes:</p>
<ul id="changes">
<li>upgrade to use <ext-a href="https://www.good-eris.net/xtmpl/">Xtmpl</ext-a> 1.0.0,</li>
<li>upgrade to use <ext-a href="https://zoggy.frama.io/ocaml-stk/">OCaml-Stk</ext-a> 0.4.0.</li>
</ul>
</sw-post>