<sw-post title="Release 2.02"
date="2013/02/13"
topics="chamo"
keywords="release"
published="true"
>
<p>
Release 2.02 is available from the <doc href="download"/> page.
</p>
<p>Changes:</p>
<ul id="changes">
<li>Split (un)install targets to (un)install-lib and (un)install-bin, for Opam.</li>
<li>Revert indentation lexer to previous state (better indentation of function
calls). Still not perfect, though.</li>
</ul>
</sw-post>