<sw-post title="Release 4.0"
date="2023/03/22"
topics="chamo"
keywords="release"
published="true"
>
<p>
Release 4.0 is available from the <doc href="download"/> page.
</p>
<p>Changes:</p>
<ul id="changes">
<li>use <ext-a href="https://zoggy.frama.io/ocaml-stk/">OCaml-Stk</ext-a>
instead of Lablgtk,</li>
<li>use dune as build system.</li>
</ul>
</sw-post>