<sw-post title="Release 3.0"
date="2022/04/01"
topics="chamo"
keywords="release"
published="true"
>
<p>
Release 3.0 is available from the <doc href="download"/> page.
</p>
<p>Changes:</p>
<ul id="changes">
<li>upgrade to ocaml 4.12.0, lablgtk3, lablgtk3-extras 3.0,</li>
<li>use <ext-a href="https://zoggy.frama.io/ocf">ocf</ext-a>
  (with json syntax) instead of config_file for configuration files,</li>
<li>do not depend on camlp4 any more,</li>
<li>fix: better handling of <ml>with</ml> keyword in ocaml indentation lexer,</li>
<li>fix: handling of escaped characters in string, in the ocaml lexer used for
    indendation,</li>
<li>use Lwt,</li>
<li>new <code>pop_last_hidden_view</code> and <code>popup_pick_hidden_view</code> commands,</li>
<li>various fixes.</li>
</ul>
</sw-post>