<sw-page title="Documentation"
 navbar-doc="active"
 >
<p>The <doc href="introduction"/> gives an overview of Chamo.
The <doc href="/faq"/> contains a lot of information regarding
how Chamo works and how to configure it.</p>

<p>Some tips are listed on <doc href="tips">this page</doc>.</p>

<p>A quick reference of default key bindings is available <doc href="/keybindings">here</doc>.</p>

<p>To develop your own additional functionalities, browse the
  <a href="refdoc/index.html">Reference documentation</a>.</p>

</sw-page>