<sw-page navbar-download="active" title="Download and installation" with-contents="true">
<release_ version="">
<if version=""><error_>&lt;release&gt;: missing version</error_></if>
<li><a href="https://framagit.org/zoggy/chamo/-/archive/&lt;version/&gt;/chamo-&lt;version/&gt;.tar.bz2"><version/></a>
<span class="date">[<doc-date doc-path="release-&lt;version/&gt;"/>]</span>
<late-inc href="posts/release-&lt;version/&gt;#changes" id="changes-&lt;version/&gt;"/>
</li>
</release_>

<release version="">
<if version=""><error_>&lt;release&gt;: missing version</error_></if>
<li><a href="https://zoggy.frama.io/chamo/releases/chamo-&lt;version/&gt;.tar.bz2"><version/></a>
<span class="date">[<doc-date doc-path="release-&lt;version/&gt;"/>]</span>
<late-inc href="release-&lt;version/&gt;#changes"
id="changes-&lt;version/&gt;"/>
</li>
</release>

<contents>
<prepare-toc depth="2">
<toc/>

<section id="opam" title="Quick install with Opam">
<p>
The easiest way to install is to use <ext-a href="http://opam.ocaml.org">OPAM</ext-a>.
Install Opam, then, as a regular user, fetch and install an OCaml version and install
Chamo.
The whole can be done with the following opam commands:
</p>
<command-line>
$ opam init --bare
$ opam update
$ opam switch create 5.2.0
$ opam install chamo
</command-line>
</section>

<section id="deps" title="Dependencies">
<p>
To build Chamo, you will need:
</p>
<ul>
<li><ext-a href="https://ocaml.org/">OCaml</ext-a> &gt;= 4.12.0,</li>
<li><ext-a href="https://github.com/ocaml/dune">dune &gt;= 3.6</ext-a>,</li>
<li><ext-a href="https://github.com/ocsigen/lwt">Lwt</ext-a> &gt;= 5.4.0,</li>
<li><ext-a href="https://github.com/ocsigen/lwt">Lwt_ppx</ext-a> &gt;= 2.0.2,</li>
<li><ext-a href="https://mmottl.github.io/pcre-ocaml">OCaml-pcre</ext-a> &gt;= 7.5.0,</li>
<li><ext-a href="https://zoggy.frama.io/ocf/">Ocf (and ocf_ppx)</ext-a> &gt;= 0.9.0,</li>
<li><ext-a href="https://github.com/johnwhitington/ppx_blob/">Ppx_blob</ext-a> &gt;= 0.7.2,</li>
<li><ext-a href="https://github.com/ocaml/ocaml-re/">Re</ext-a> &gt;= 1.10.4,</li>
<li><ext-a href="https://github.com/ocaml-community/sedlex">Sedlex (and sedlex.ppx)</ext-a> &gt;= 2.3,</li>
<li><ext-a href="https://zoggy.frama.io/ocaml-stk/">Stk and stk_iconv</ext-a> &gt;= 0.4.0,</li>
<li><ext-a href="https://erratique.ch/software/tsdl">Tsdl</ext-a> &gt;= 1.1.0,</li>
<li><ext-a href="https://github.com/sanette/tsdl-image">Tsdl-image</ext-a> &gt;= 0.5.0,</li>
<li><ext-a href="https://github.com/sanette/tsdl-ttf">Tsdl-ttf</ext-a> &gt;= 0.5.0,</li>
<li><ext-a href="https://erratique.ch/software/uutf">Uutf</ext-a> &gt;= 1.0.0,</li>
<li><ext-a href="https://erratique.ch/software/xmlm">Xmlm</ext-a> &gt;= 1.4.0.</li>
<li><ext-a href="https://www.good-eris.net/xtmpl/">Xtmpl (and xtmpl_ppx)</ext-a> &gt;= 1.0.0,</li>
</ul>
</section>

<section id="download" title="From the sources">
<p>Get the sources from git repository:</p>
<command-line>$ git clone https://framagit.org/zoggy/chamo.git</command-line>

<p>Or pick one of the releases:</p>
<ul>
<release version="4.2.0"/>
<release_ version="4.1.0"/>
<release_ version="4.0"/>
<release_ version="3.0"/>
<release_ version="2.03"/>
<release_ version="2.02"/>
</ul>

<subsection id="compilation" title="Compilation">
<p>
Just type
</p>
<command-line>$ make install</command-line>
<p>
This will install <code>chamo.byte</code>, <code>chamo</code>
and the <code>chamo</code> package.
</p>
</subsection>
</section>

</prepare-toc>
</contents>
</sw-page>