<sw-page main_="true"
navbar-home="active"
stog:rss-length="10"
stog:section-counter="false"
stog:subsection-counter="false"
stog:site-description=""
stog:site-email="zoggy AT bat8 DOT org"
stog:site-url="https://zoggy.frama.io/chamo"
title="Chamo"
stog:use="software"
with-contents="true">
<stog:com foo=""><code defer_="1" class="chamo-command"><contents/></code></stog:com>
<stog:ml foo=""><icode defer_="1" lang="ocaml"><contents/></icode></stog:ml>
<stog:nbsp>&#160;</stog:nbsp>
<stog:fixme foo=""><strong>FIXME/UPDATEME:</strong></stog:fixme>
<stog:warning foo=""><p class="alert-warning"><contents/></p></stog:warning>
<contents>
<section>
<p>Chamo is a source code editor, even if it can be used to edit any text file.
A system of "views" allows to edit some kinds of files in specific views.
</p>
<p>It is developped in <ext-a href="http://www.ocaml.org">OCaml</ext-a> and
OCaml is also used to configure it, like Elisp is used for emacs.
Since version 4.0, user interface uses <ext-a href="https://zoggy.frama.io/ocaml-stk/">OCaml-STK</ext-a>
instead of LablGtk.
</p>
<p><doc href="/introduction">This page</doc> will give you an idea of what Chamo offers.
Then you can read the <sw-page href="doc"/> and the <sw-page href="faq"/>.
</p>
<p>Development is hosted on <ext-a href="https://framagit.org/zoggy/chamo">Framagit</ext-a>.</p>
</section>

<section title="License">
<p>Chamo is released under the
 <ext-a href="http://www.gnu.org/licenses/gpl.html">LGPL v3</ext-a>.</p>
</section>

<section id="contact" title="Author and contact">
<p>
Maxence Guesdon <icode>&lt;Maxence 'POINT' Guesdon 'AT' inria 'POINT' fr&gt;</icode>
</p>
</section>
</contents>
</sw-page>