<sw-page title="Introduction"
 navbar-doc="active"
 with-contents="true"
>
<tourp image="" legend="">
<div class="tourp">
<div class="left"><contents/></div>
<div class="right"><a href="images/&lt;image/&gt;.png"><img src="images/&lt;image/&gt;_small.png" alt="&lt;legend/&gt;"
  title="&lt;legend/&gt;"/></a></div>
</div>
</tourp>
<contents>
<p>
Chamo is a source code editor, even if it can be used to edit any text file.
A system of "views" allows to edit some kinds of files in specific views.
</p>
<p>
Each window can be splitted vertically or horizontally (à la emacs) or using tabs (à la gedit)
in different views. Navigating from one view to another is easy with commands boundable
to combinations of keys. One can also store the position and layout of the windows and
the list of open files, so that, the next time Chamo is launched, everything is restored
at the same position.
</p>
<p>
A "minibuffer" à la emacs with automatic completion is used to launch
commands and indicate arguments for commands (when opening a file, doing some
query/replace in a buffer, ...).
</p>
<p>
The text editing view uses OCaml-Stk sourceview widget and so provides the following functionalities:
support of internationalisation (UTF-8), syntax highlighting (with colors, fonts, ...)
depending on the language,
undo/redo management, clipboard management, incremental forward/backward search, query/replace,
history of pastable text ("kill-ring"), ...
</p>
<p>
A system of association of code to commands and of evaluation of commands
(in a form similar to shell commands
<com>command arg1 arg2 ...</com>)
 allows to add one's own functionalities. It is also possible to add and modify
all key bindings, even specifically for each kind of view.
</p>
<p>
In the bytecode version of Chamo, the command <com>eval</com> takes in argument some OCaml
code which is interpreted and allows to modify everything in the editor: adding
modes, redefining commands, ..., the same way as with Lisp in Emacs. The command
<com>eval_file</com> interprets all the OCaml code present in a file given in argument.
</p>
<div class="alert alert-warning">
A quick reference of default key bindings is
<a href="keybindings.html">available here</a>.
</div>

<tourp image="chamo_split_views" legend="Chamo, an emacs-like file editor based on OCaml-Stk">
The windows can be splitted to display various views, à la emacs.
Some commands allows to handle the splitting and, like any command, can be bound
to combinations of keys:
<com>split_horizontally</com> (<keys>C-h</keys> or <keys>C-x 2</keys> by default), <com>split_vertically</com>
(<keys>C-v</keys> or <keys>C-x 3</keys> by default), <com>destroy_active_view</com> (<keys>C-x 0</keys> by default).
</tourp>

<tourp image="chamo_tabs" legend="Using tabs">
Another way to have various views in a window is the use of tabs, as in GEdit.
The commands <com>cycle_tab</com> (<keys>C-Tab</keys> by default) and <com>new_tab</com>
(<keys>C-x C-t</keys> by default)
allow respectively to move from one tab to another and create a new tab.
</tourp>

<tourp image="chamo_multiviews" legend="Using tabs and splits">
Of course, one can mix the two ways to arrange views to fit one's needs.
The position and layout of windows and views can be stored on demand using the command <com>store_layout</com>.
When the editor is launched in the same directory, position and layout of windows and views
are restored.
</tourp>

<!--<tourp image="chamo_odoc" legend="The odoc view">
To each type of file (by now a regular expression matching the file name) one can associate
a view to edit it. Various views are available. The view "odoc" allows to browse an
OCamldoc dump file. A double-click on an element opens the corresponding file at the position
where the element is defined. A right-button click provides a choice between opening the
interface file (<code>.mli</code>) and the implementation file (<code>.ml</code>) used to produce the dump.
This is an easy way to browse the code of a project.
</tourp>
-->
<tourp image="chamo_buffers" legend="Sourceviews in action">
The view "sourceview" is based on OCaml-Stk sourceview widget. It provides the syntax highlighting
associated to each type of file (by now a regular expression matching the file name).
Modes (like in emacs) can be defined to provides commands, key bindings, menus and
indentations adapted to each type of file. A file can be open by various "sourceviews"
at the same time. Basic commands are available in this view: incremental forward/backward
search, query/replace, transposing lines or characters, copy/paste, "kill-ring" à la emacs, ...
</tourp>

<tourp image="chamo_minibuffers" legend="Minibuffers with completion">
A minibuffer like the one in emacs is used for commands arguments (opening files,
changing buffer, search, ...) and provides automatic completion.
</tourp>
<p>
Various files are used to configure key bindings. Here is the default configuration file for
all windows of Chamo. The key bindings of the active view are also configurable and
are added to the common key bindings of windows.
</p>
<p>File <code>~/.config/chamo/chamo.gui</code>:</p>
<hcode defer_="1" lang="json"><include raw="true" file="./default_chamo_gui"/>
</hcode>
<!--use a pregenerated file because we need to dunify chamo to generate
  a working stog-ocaml-session
<ocaml-printf><![CDATA[(let json = Ocf.to_json ~with_doc:true (Ed_gui_rc.group()) in
Yojson.Safe.pretty_to_string json)]]>
</ocaml-printf>-->
</contents>
</sw-page>