<sw-page title="Chamo key bindings: quick reference"
navbar-doc="active">
<as-xml defer_="2">
<exec show-code="false"
  in-xml-block="false"
  show-stdout="true">../_build/default/bin/gen_html_key_bindings.exe 2>/dev/null</exec>
</as-xml>
</sw-page>