.tourp {
  margin-bottom:1em;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;

  .left {
    order: 1;
    flex-grow: 2;
    margin-right: 1em;
  }
  .right {
    order: 2;
    flex-grow: 1;
  }
}

code.chamo-command {
  background-color: #4760AB ;
  color: white;
  padding-left: 0.1em;
  padding-right: 0.1em;
  word-break: normal;
}

.keys {
	display: inline-block;
	min-width: 1em;
	padding: .2em .3em;
	font: normal .85em/1 "Lucida Grande", Lucida, Arial, sans-serif;
	text-align: center;
	text-decoration: none;
	border-radius: .3em;
	border: none;
	cursor: default;
	user-select: none;
  background: rgb(250, 250, 250);
	background: -moz-linear-gradient(top, rgb(210, 210, 210), rgb(255, 255, 255));
	background: -webkit-gradient(linear, left top, left bottom, from(rgb(210, 210, 210)), to(rgb(255, 255, 255)));
	color:  rgb(50, 50, 50);
	text-shadow: 0 0 2px rgb(255, 255, 255);
	-moz-box-shadow: inset 0 0 1px rgb(255, 255, 255), inset 0 0 .4em rgb(200, 200, 200), 0 .1em 0 rgb(130, 130, 130), 0 .11em 0 rgba(0, 0, 0, .4), 0 .1em .11em rgba(0, 0, 0, .9);
	-webkit-box-shadow: inset 0 0 1px rgb(255, 255, 255), inset 0 0 .4em rgb(200, 200, 200), 0 .1em 0 rgb(130, 130, 130), 0 .11em 0 rgba(0, 0, 0, .4), 0 .1em .11em rgba(0, 0, 0, .9);
	box-shadow: inset 0 0 1px rgb(255, 255, 255), inset 0 0 .4em rgb(200, 200, 200), 0 .1em 0 rgb(130, 130, 130), 0 .11em 0 rgba(0, 0, 0, .4), 0 .1em .11em rgba(0, 0, 0, .9);
	vertical-align: baseline;
}

div.binding-group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
}
div.bindings {
  flex-shrink: 0;
  flex-grow: 0;
  display: flex;
  margin-bottom:1em;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;

  table {
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: 1em;
    th.title {
      background-image: linear-gradient(to bottom, #c22, #900);
      color: #fee;
      font-weight: bold;
      border-radius: 0.2em 0.2em 0 0;
    }
    td {
      padding: 0.1em 0.5em;
    }
    tr:last-of-type td {
      padding-bottom: 0.2em;
    }
    border-radius: 0.25em;
    border: solid 1px #c22;
    border-spacing: 0;
    /*border-collapse: collapse;*/
    margin-bottom: 1.5em;
  }

  .binding {
    order: 1;
    flex-grow: 1;
    flex-shrink: 1;
    margin-right: 1em;
    flex-basis: 25%;
    display:inline-block;
  }
}
