<sw-page title="Tips and tricks"
navbar-doc="active"
>
<prepare-toc depth="2">
<toc/>

<section id="general" title="General">
<subsection id="setmailinfo"
title="How to set my name and address used by the &lt;com&gt;changelog_new_day_entry&lt;/com&gt; command ?">
<p>
This command uses the "usermail" and "username" variables to insert a preformatted
changelog entry. Add the following code to your
<code>~/.config/chamo_init.ml</code>
file, so that these variables are set each time you launch Chamo:
<hcode>
Commands.set_global "usermail" "my.mail@foo.bar";;
Commands.set_global "username" "Firstname Name";;
</hcode>
</p>
</subsection>

</section>

</prepare-toc>
</sw-page>
